body {
  text-align: center;
  background: url("../assets/noise_background_black.png") repeat;
  color: #fff; }
  body h1 {
    font-size: 4rem;
    color: red;
    font-weight: bold;
    padding: 30px; }
  body p {
    font-size: 1.5rem; }

#share-buttons {
  position: absolute;
  left: 0px;
  top: 30px; }
  #share-buttons div {
    width: 50px;
    height: 50px; }
  #share-buttons #twitter {
    background: #2ecbf8; }
    #share-buttons #twitter img {
      width: 100%; }
  #share-buttons #facebook {
    background: #234769; }
    #share-buttons #facebook img {
      width: 100%; }

#board {
  text-align: center; }

.entity {
  display: inline-block;
  padding: 10px;
  height: 200px;
  min-width: 150px;
  border-bottom: 1px solid #bbbbbb;
  text-align: center; }
  .entity .entity-image {
    height: 120px; }
  .entity img {
    padding: 10px;
    max-width: 100%;
    max-height: 100px; }
  .entity a {
    background: #2ecbf8;
    color: #fff;
    display: block;
    max-width: 110px;
    margin: auto;
    padding-right: 10px; }
    .entity a img {
      width: 25px;
      float: left;
      padding: 0px; }
  .entity a:hover {
    background: #26aed3; }

#secondary-ask div {
  float: left;
  padding: 10px;
  border-radius: 10px;
  background: #888; }
  #secondary-ask div a {
    color: #fff; }

#secondary-ask #secondary {
  background: none;
  color: #888;
  font-size: 1.0rem; }

#footnotes {
  padding-top: 50px;
  text-align: left; }

#white-wrapper {
  background: #fff; }

#credits {
  font-size: 0.8rem;
  text-align: center;
  padding: 50px; }
