body {
  text-align: center;
  background: url("../assets/noise_background_black.png") repeat;
  color: #fff; }
  body h1 {
    font-size: 4rem;
    color: red;
    font-weight: bold;
    padding: 30px; }
  body p {
    font-size: 1.5rem; }

#board {
  text-align: center;
  margin-top: 50px; }

.entity {
  float: left;
  padding: 10px;
  height: 200px;
  min-width: 150px;
  border-bottom: 1px solid #bbbbbb;
  text-align: center; }
  .entity .entity-image {
    height: 120px; }
  .entity img {
    padding: 10px;
    max-width: 100%;
    max-height: 100px; }
  .entity a {
    background: #2ecbf8;
    color: #fff;
    display: block;
    max-width: 110px;
    margin: auto;
    padding-right: 10px; }
    .entity a img {
      width: 25px;
      float: left;
      padding: 0px; }
  .entity a:hover {
    background: #26aed3; }

#secondary-ask div {
  float: left;
  padding: 10px;
  border-radius: 10px;
  background: rgba(77, 184, 72, 0.8); }
  #secondary-ask div a {
    color: #fff; }

#secondary-ask #secondary {
  background: none;
  color: #888;
  font-size: 1.0rem; }

#footnotes {
  padding-top: 50px;
  text-align: left;
  margin-bottom: 100px; }

#white-wrapper {
  background: #fff;
  border-radius: 10px; }
