body {
	text-align:center;
	background:url('../assets/noise_background_black.png') repeat;
	color:#fff;
	h1 {
		font-size:4rem;
		color:red;
		font-weight:bold;
		padding:30px;
	}
	p {
		font-size:1.5rem;
	}
}

#share-buttons {
	position:absolute;
	left:0px;
	top:30px;
	div {
		width:50px;
		height:50px;
	}

	#twitter {
		background:#2ecbf8;
		img {
			width:100%;
		}
	}
	#facebook {
		background:#234769;
		img {
			width:100%;
		}	
	}
	
}

#board {
	text-align:center;
	#dots {

	}
}

.entity {
	display:inline-block;
	padding:10px;
	height:200px;
	min-width:150px;
	border-bottom:1px solid #bbbbbb;
	text-align:center;
	.entity-image {
		height:120px;
	}
	img{
		padding:10px;
		max-width:100%;
		max-height:100px;
	}
	a {
		background:#2ecbf8;
		color:#fff;
		display:block;
		max-width:110px;
		margin:auto;
		padding-right:10px;
		img {
			width:25px;
			float:left;
			padding:0px;
		}
	}
	a:hover {
		background:#26aed3;
	}
}

#secondary-ask {
 	div {
		float:left;
		padding:10px;
		border-radius:10px;
		background:#888;
		a {
			color:#fff;
		}
	}
	#secondary {
		background:none;
		color:#888;
		font-size:1.0rem;
	}
}

#footnotes {
	padding-top:50px;
	text-align:left;
}

#white-wrapper {
	background:#fff;
}

#credits {
	font-size:0.8rem;
	text-align:center;
	padding:50px;
}